<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanInterval="30 seconds">

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>%d{HH:mm:ss.SSS} [%thread][%logger{0}][%X{user}] %-5level - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="stdout"/>
    </root>

    <!-- 查看 jdbc template 生成的 SQL 日志 -->
    <logger name="org.springframework.jdbc" level="DEBUG"/>

    <!-- 查看 hibernate 生成的 SQL 日志 -->
    <logger name="org.hibernate.SQL" level="DEBUG"/>

    <!-- 生成环境建议将此项设置为 ERROR，这样就不会执行 SHOW WARNINGS 语句 -->
    <logger name="org.hibernate.engine.jdbc.spi.SqlExceptionHelper" level="DEBUG"/>

</configuration>